body {
    background-image: linear-gradient(#051b33 25%,#02050a 75%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    height: 100;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    color: #c7ccd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.left-icon, .right-icon {
    padding: 10px;
    background:rgb(2, 1, 3);
    width: 100%;
    
    
    
}

.right-icon {

margin-right: 15px;

}

.hero {
    height: 10%;
    display:flex; 
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(#20536b71 25%, #000208 75% );
    flex: 1;
}

.hinfo {
    display:flex; 
    align-self: flex-start;
    margin-left: 45px;
    text-align: start;
    font-weight: 900;
    
}

.large {
    display: flex;
    align-self: flex-start;
    margin-left: 45px;
    margin-top: 55px;
    text-align: start ;
}

.image {
    display: flex;
    align-self: flex-end;
    margin: 0;
}

.top-btn {
    display: flex;
   align-self: flex-start;
   margin-left: 45px;
   padding: 35px;
   
}

.fas {
    color:white;
    margin:auto 6px auto 10px;
}


.playlist {
    border-radius: 5px;
    margin: auto 30px;
    margin-left: 100px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

}

.text{
  color: #f2f4f7;
  font-size: 18px;
}

.large {
    font-family: 'Montserrat', sans-serif;
    font-weight:950;
    font-size: 48px;
   
}



.mid {
    font-family: 'Montserrat', sans-serif;
    color:#f2f4f7;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 835px;
    margin-bottom: 45px;
    margin-top: 45px;
}

.content-info {
display: flex;
justify-content:space-between;
align-items: center;
margin-top: 30px;
margin-bottom: 20px;
margin-left: 155px;



}

.info {
    display: flex;
    flex-direction: row;
    gap: 355px;
    align-items: center;
}

button {
    border-radius: 25px;
    padding: 15px;
    font-size: 13px;
    font-weight:bold;
    background-color:transparent;
    border: 2px solid #c7ccd4;
    color:#c7ccd4;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

button:hover {
color: #f2f4f7;
background-color:#20252e80;
transform: scale(1.05) perspective(1px);


}

ul {
    color: #c7ccd4;
    list-style: none;
    font-size: 18px;
    display:flex;
    padding: 0;
    margin: 0;
   
}

.bot-sect {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 0, 0);
    margin-top: 50px;
    padding: 30px;
}

.quote {
    color: #f2f4f7;
    font-size: 26px;
}

.name {
    color:#f2f4f7;
}

.bottom {
    color:#c7ccd4;
    text-align: center;
    margin-bottom: 25px;
}

#tag {
    font-size: 25px;
    font-weight: 550;
    
}

.cta-bg {
    background-image: linear-gradient(black, rgb(5, 10, 15));
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-bottom: 50px;
    padding: 30px;
    background-image:linear-gradient(rgb(31, 46, 56), rgb(9, 15, 26));
    border-radius:15px ;
    opacity: 0.95;
    width: 35%;
    margin-left: 600px;
}

.footer {
    color:#3c424e;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.486);
    padding: 20px;
    display: flex;
    justify-content: center;
}